<hr class="w-full text-[#cccccc]">
<main class="w-full h-[50vh] p-[10px] flex flex-col justify-center items-center font-main">
    <section class="text-2xl">
        <h1>About</h1>
    </section>
    <section class="text-md text-center">
        <p>Hello and welcome to noter :) <br>
        Noter is Website where you can read and make your notes.<br>
        made by Lazare Mirziashvili.<br>
        I hope you Like it:)</p>
    </section>
</main> 

<footer class="w-full flex justify-center">
    <p>Made by Lazare Mirziashvili 2024.</p>
</footer>