<nav class="w-full flex justify-around p-[10px] py-[10px] items-center">
  <section *ngIf="NormalMode">
    <a href="./../index.html"><h1 class="font-main text-[28px]">Noter</h1></a>
  </section>
  <section class="hidden md:flex">
    <ul class="font-main text-[21px]">
      <a href="" ><button class="duration-300 ease-in-out hover:scale-110">Home</button></a>
      <a href="" class="mx-[15px]"><button class="duration-300 ease-in-out hover:scale-110">Notes</button></a>
      <a href=""><button class="duration-300 ease-in-out hover:scale-110">About</button></a>
    </ul>
  </section>
  <section *ngIf="NormalMode" class="flex md:hidden">
    <button (click)="openMenu()"><i class="fa-solid fa-bars text-2xl"></i></button>
  </section>
  <section class="flex items-center md:hidden" *ngIf="MenuMode">
    <ul class="font-main text-[21px]">
      <a href="">Home</a>
      <a href="" class="mx-[15px]">Notes</a>
      <a href="">About</a>
      <button (click)="closeMenu()" class="mx-[10px] items-center">
        <i class="fa-solid fa-x text-xl text-red-600"></i>
      </button>
    </ul>
  </section>
</nav>
<hr class="w-full text-[#cccccc] bg-[#cccccc] w-[95%] mx-auto">

<app-notes></app-notes>
<app-about></app-about>